<div class="card mb-4">
  {% if game.image %}
  <img src="{{ game.image.url }}" class="card-img-top" alt="{{ game.name }}" />
  {% else %}
  <img
    src="https://via.placeholder.com/300x200"
    class="card-img-top"
    alt="Default Game Image"
  />
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ game.name }}</h5>
    <p class="card-text">{{ game.description|truncatewords:20 }}</p>
    <!-- Truncate to show first 20 words -->
    <p class="text-muted">Released: {{ game.release_date|date:"F j, Y" }}</p>
    <p class="text-muted">Price: ${{ game.price }}</p>
    <a href="{% url 'game_detail' game.slug %}" class="btn btn-primary"
      >View Details</a
    >
  </div>
</div>
