<div class="card h-100 shadow-sm">
  {% if game.image %}
  <img src="{{ game.image.url }}" class="card-img-top" alt="{{ game.name }}" />
  {% else %}
  <img
    src="https://via.placeholder.com/300x200"
    class="card-img-top"
    alt="Default Game Image"
  />
  {% endif %}

  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ game.name }}</h5>
    <p class="card-text flex-grow-1">{{ game.description|truncatewords:20 }}</p>

    <p class="text-muted mb-1">
      Released: {{ game.release_date|date:"F j, Y" }}
    </p>

    {% if game.price == 0.00 %}
    <p class="text-success font-weight-bold">Price: Free</p>
    {% else %}
    <p class="text-muted">Price: ${{ game.price }}</p>
    {% endif %}

    <a href="{% url 'game_detail' game.slug %}" class="btn btn-primary mt-auto"
      >View Details</a
    >
  </div>
</div>
